body{
    font-family: 'Roboto', sans-serif;
}
.section-title h1 {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 900;
    color: #212529;
    @media  (max-width:767px) {
        font-size: calc(24px + (46+46 *0.7) *((100vw - 320px)/1280));
    }
}
.section-title h2{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    @media (width:767px) {
        font-size: 15px;
    }
    @media (max-width:540px) {
        font-size: 25px;
    }
    @media (max-width:414px) {
        font-size: 18px;
    }
    @media (max-width:320px) {
        font-size: 13px;
    }
    @media (max-width:360px) {
        font-size: 18px;
    }
}
.span{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    width: 251px;
    // @media (width:768px) {
    //     font-size: 25px;
    //     width: 251px;
    // }
    @media (max-width:540px) {
        font-size: 25px;
    }
    @media (max-width:320px) {
        font-size: 13px;
    }
    @media (max-width:360px) {
        font-size: 18px;
        width: 180px;
        margin-left: 28px;
        position: relative;
        bottom: 15px;
    }
    @media (max-width:411px) {
        font-size: 18px;
        width: 181px;
    }
    @media (max-width:414px) {
        font-size: 18px;
        width: 181px;
    }
    @media (max-width:320px) {
        font-size: 13px;
        width: 131px;
        margin-top: 15px;
    }
}
.check{
    background-color: #FAD000;
    font-weight: 900;
    border-radius: 50%;
    fill: #000000;
    color: #000;
    font-size: 82px;
    width: 120px;
    height: 120px;
    align-items: center;
    text-align: center;
    justify-content: center;
    @media (max-width:767px) {
        font-size: calc(40px + (42+42 *0.7) *((100vw - 320px)/1280));
        width: 70px;
        height: 70px;
    }
}
.section_one p{
    font-size: 36px;
    color: #212529;
    font-weight: 500;
    @media  (max-width:767px) {
        font-size: calc(20px + (16+16 *0.7) *((100vw - 320px)/1280));
    }
}
.section_one_bottom{
    margin-top: 50px;
    margin-bottom: 150px;
}


.section_two_block h1{
    color: #212529;
    font-size: 70px;
    font-weight: 900;
    @media  (max-width:767px) {
        font-size: calc(24px + (46+46 *0.7) *((100vw - 320px)/1280));
    }
}
.section_two_block h2 {
    font-size: 40px;
    @media  (max-width:767px) {
        font-size: calc(15px + (25+25 *0.7) *((100vw - 320px)/1280));
    }
}
.chegirma {
    color: #ffc107;
    font-weight: 900;
    font-size: 40px;
    @media  (max-width:767px) {
        font-size: calc(15px + (25+25 *0.7) *((100vw - 320px)/1280));
    }
}
.STEREO{
    color: #000;
    font-size: 40px;
    font-weight: 900;
    @media  (max-width:767px) {
        font-size: calc(15px + (25+25 *0.7) *((100vw - 320px)/1280));
    }
}
.QULOCHINGA{
    color: #000;
    font-size: 40px;
    font-weight: 900;
    @media  (max-width:767px) {
        font-size: calc(15px + (25+25 *0.7) *((100vw - 320px)/1280));
    }
}
.section_two img {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
// .kurs{
//     @media  (max-width:320px) {
//         font-size: calc(15px + (25+25 *0.7) *((100vw - 320px)/1280));
//         position: relative;
//     }
// }
// .section-h2{
//     @media (max-width:320px) {
//         display: flex;
//         justify-content: center;
//     }
// }
