@import "_miksin.scss";

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}


.header_bg{
    background: url(../img/header_bg.jpg) no-repeat center / cover;
    height: 100vh;

    @media  (max-width:1024px) {
        height:50vh;
        padding-bottom: 250px;
    }
    @media  (max-width:800px) {
        height:60vh;
    }
    @media  (max-width:600px) {
        height:50vh;
        // padding-bottom: 400px;
    }
    @media only screen and  (max-width:640px) {
        height:100vh;
        padding-bottom: 700px;
    }
    @media  (max-width:768px) {
        height:70vh;
    }
    @media  (max-width:320px) {
        height:100vh;
        padding-bottom: 550px;
    }
    @media  (max-width:321px) {
        height:100vh;
        padding-bottom: 550px;
    }
    @media  (max-width:322px) {
        height:100vh;
        padding-bottom: 550px;
    }
    @media  (max-width:323px) {
        height:100vh;
        padding-bottom: 550px;
    }
    @media  (max-width:324px) {
        height:100vh;
        padding-bottom: 550px;
    }
    @media  (max-width:325px) {
        height:100vh;
        padding-bottom: 550px;
    }
    @media  (max-width:326px) {
        height:100vh;
        padding-bottom: 550px;
    }
    
    @media  (max-width:384px) {
        height:80vh;
        padding-bottom: 0px;
    }
    @media  (max-width:360px) {
        height:90vh;
        padding-bottom: 0px;
    }
   @media  (max-width:280px) {
        height:100vh;
        padding-bottom: 0px;
    } 
    @media  (max-width:240px) {
        height:100vh;
        padding-bottom: 450px;
    }
}
.section_header h2{
    color: #FFF;
    font-size: 45px;
    font-weight: 300;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-top: 150px;
    @media  (max-width:767px) {
        font-size: calc(20px + (25+25 *0.7) *((100vw - 320px)/1280));
    }
    @media  only screen and  (max-width:800px) {
        margin-top: 50px;
        font-size: 25px;
    }
    @media  only screen and  (max-width:750px) {
        position: relative;
        margin-top: 100px;
        right: 90px;
        // font-size: 25px;
    }
    @media  only screen and  (max-width:640px) {
        font-size: 25px;
    }
    @media  (max-width:414px) {
        margin-top:150px;
    }
    @media  (max-width:412px) {
        margin-top:100px;
    }
    @media  (max-width:375px) {
        margin-top:75px;
    }
    @media  (max-width:320px) {
        margin-top:75px;
    }
    @media  (max-width:280px) {
        margin-top:95px;

    }
}
.header_span{
    font-weight: 900;
    line-height: 1.2em;
    text-transform: uppercase;
    font-size: 45px;
    color: #FFF;
    @media  (max-width:767px) {
        font-size: calc(25px + (20+20 *0.7) *((100vw - 320px)/1280));

    }
}

.buyurtma_tugma_button{
   position: relative;
   bottom: 100px;

// .container-fluid{
//     height: auto;
//     overflow: hidden;
//     padding: 0 0 0 0 !important;

// }
}

.section_header p{
    font-size: 25px;
    font-weight: 500;
    margin-top: 14px;
    color: #FFF;
    @media  (max-width:767px) {
        font-size: calc(15px + (10+10 *0.7) *((100vw - 320px)/1280));
    }
    @media  only screen and  (max-width:750px) {
        position: relative;
        right: 90px;
        // font-size: 25px;
    }
    @media  (max-width:414px) {
        margin-bottom: 20px;
    }
}

.section_header img{
    margin-top: 80px;
    width: 550px;
    @media  (max-width:1024px) {
        margin-top: 150px;
        width: 400px;
    }
    @media  (max-width:800px) {
        width: 200px;
        margin-top: 150px;
    }
    @media  only screen and  (max-width:750px) {
        margin-top: 0px;
        position: relative;
        bottom: 0px;
        // font-size: 25px;
    }
    @media only screen and  (max-width:640px) {
        // width: 320px;
        margin-top: -20px;
    }
    @media  (max-width:600px) {
        // width: 320px;
        margin-top: -30px;
    }
    @media  (max-width:540px) {
        // width: 320px;
        margin-top: 30px;
    }
    @media  (max-width:480px) {
        // width: 320px;
        margin-top: 30px;
    }
    @media  (max-width:414px) {
        // width: 320px;
        margin-top: 30px;
    }
    @media  (max-width:412px) {
        // width: 320px;
        margin-top: 30px;
    }
    @media  (max-width:375px) {
        // width: 320px;
        margin-top: 0px;
    }
    @media  (max-width:360px) {
        // width: 320px;
        margin-top: -30px;
    }
    @media  (max-width:768px) {
        width: 320px;
        margin-top: 200px;
    }
    @media  (max-width:767px) {
        width: calc(150px + (550+550 *0.7) *((100vw - 320px)/1280));
    }
}

// .container-fluid{
//     height: 8000px;
//     overflow: hidden;
// }
// .header{
//     width: 100% ;
//     height: 700px;
//     .book_header{
//         width: inherit;
//         height: 700px;
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: space-between;
//     }
//     .header_1, .header_2{
//         width: 800px;
//         height: 650px;
//         border: 1px solid red;
//     }
    // margin-left: -40px;
    
    // @media (max-width:1200px){
    //     height: 600px;
    // }
    // @media (max-width:1000px){
    //     width: 100%;
    //     height: 400px;
    // }
    // @media (max-width:600px){
    //     width: 610px !important;
    //     height: 300px;
    //     padding: 0 auto;
    // }
    // @media (max-width:400px){
    //     width: 400px;
    //     height: 300px;
    // }
    // @media (max-width:300px){
    //     height: 300px;
    //     width: 300px;
    // }
    // @media (max-width:200px){
    //     height: 200px;
    // }
// }
.padarka{
    width: 100%;
    height: auto;
    img{
        width: 120px;
        height: 120px;
        @media (max-width:720px){
            width: 80px;
            height: 80px;
            font-size: 16px;
            margin-left: 40px;
        }
        @media (max-width:720px){
            width: 80px;
            height: 80px;
            margin-left: 20px;
            margin-top: -10px;
        }
    }
    p{
        line-height: 1;
    }
    .padarka_lorem{
        height: auto;
        color: #212529;
        font-family: "Roboto",Sans-serif;
        font-size: 35px;
        font-weight: 500;
        line-height: .4em;
        @media (max-width:1040px){
            font-size: 25px;
            margin-left: 20px;
        }
        @media (max-width:720px){
            width: 400px;
            font-size: 16px;
            margin-left: 40px;
        }
        @media (max-width:720px){
            width: 300px;
            font-size: 16px;
            margin-left: 40px;
        }
        @media (max-width:490px){
            width: 250px;
            font-size: 14px;
            margin-left: 40px;
        }
        .padarka_last{
            color: #212529;
            font-family: "Roboto",Sans-serif;
            font-size: 42px;
            font-weight: 900;
            line-height: 1em;
            @media (max-width:1040px){
                font-size: 32px;
                margin-left: 5px;
            }
            @media (max-width:840px){
                font-size: 26px;
                margin-left: 5px;
            }
            @media (max-width:720px){
                font-size: 20px;
                margin-left: 5px;
            }
            @media (max-width:600px){
                font-size: 16px;
                margin-left: 5px;
            }
            @media (max-width:490px){
                width: 250px;
                font-size: 16px;
            }
        }
    }
}

.compania{
    height: 900px;
    width: 110% !important;
    background-image: url('../img/comp-bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // margin-left: 0px;
    overflow: hidden;

    // position: absolute;
    // @include center;

    position: relative;
    @include center;

    // @media (max-width:836px){
    //     width: 836px !important;
    // }
    @media (max-width:986px){
        height: 900px;
    }
    @media (max-width:886px){
        height: 800px;
    }
    @media (max-width:786px){
        width: 120% !important;
        height: 700px;
    }
    @media (max-width:686px){
        height: 500px;
    }
    @media (max-width:486px){
        width: 130% !important;
        height: 580px;
    }
    @media (max-width:386px){
        height: 580px;
    }
    @media (max-width:350px){
        height: 580px;
    }
    @media (max-width:286px){
        height: 580px;
    }

}
li{
    list-style: none;
}
.comp_1{
    position: relative;
    // top: 580%;
    left: 25%;
    width: 800px;
    height: 800px;
    background-image: url('../img/sariq-ramka.png');
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    @media (max-width:1486px){
        left: 20%;
    }
    @media (max-width:1206px){
        width: 700px !important;
        left: 20%;
    }
    @media (max-width:1086px){
        width: 700px !important;
        left: 15%;
    }
    @media (max-width:986px){
        width: 650px !important;
        top: 32%;
        left: 10%;
    }
    @media (max-width:786px){
        width: 600px !important;
        top: 30%;
        left: 10%;
    }
    @media (max-width:686px){
        width: 450px !important;
        height: 600px;
        top: 25%;
        left: 10%;
    }
    @media (max-width:586px){
        width: 400px !important;
        height: 400px; 
        left: 15%;
        top: 20%;
    }
    @media (max-width:486px){
        width: 420px !important;
        height: 800px;
        top: 30%;
        left: 10%;
    }
    @media (max-width:386px){
        width:380px !important;
        height:580px;
        top: 45%;
        left: 10%;
        background-size: 100%;
    }
    .fas::before{
        content: "\f00c";
        color: white;
    }
    p:nth-child(4){
        color: #FFF;
        font-size: 22px;
        font-weight: 900;
        @media (max-width:586px){
            font-size: 18px;
            
        }
    }
    p:first-child{
        margin-top: 10%;
        font-size: 35px;
        text-transform: uppercase;
        @media (max-width:586px){
            font-size: 28px;
            
        }
    }
    p,ul{
        margin-left: 10%;
        width: 550px;
        color: #212529;
        font-family: "Roboto",Sans-serif;
        box-sizing: border-box;
        font-size: 20px;
        .margin{
            margin-top: 20px;
            @media (max-width:786px){
                margin: 0;
                
            }
        }
        @media (max-width:786px){
            width: 500px;
        }
        @media (max-width:686px){
            width: 400px;
            font-size: 14px;
            margin-top: -5px;
        }
        @media (max-width:586px){
            width: 300px;
            font-size: 12px;
            margin-top: -5px;
        }
    }
    ul{
        margin-left: 5%;
    }

}
.muammo{
    width: 100%;
    height: 800px;
    text-align: center;
    @include column;
    @media (max-width:1020px){
        height: 1200px;
    }  
    .text-center{
        height: 200px;
    }
    p{
        color: #212529;
        font-family: "Roboto",Sans-serif;
        font-size: 40px;
        font-weight: 900;
        line-height: 1.5em;
        @media (max-width:800px){
            font-size: 33px;
        }
        @media (max-width:600px){
            font-size: 23px;
        }
        @media (max-width:400px){
            font-size: 18px;
        }

    }
    .muammo_block{
        width: 90%;
        height: 500px;
        @include row;
        p{
            text-align: start;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 400px;
            color: #212529;
            font-family: "Roboto",Sans-serif;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5em;
            @media (max-width:1020px){
                width: 100%;
            }
            @media (max-width:720px){
                font-size: 14px;
            }
            @media (max-width:520px){
                font-size: 12px;
            }
            span:last-child{
                margin-left: 10px;
            }
            img{
                margin-left: -5px;
            }
        }
        @media (max-width:1020px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 800px;
        }
    }
}
.kimlar{
    @include column;
    width: 100%;
    height: auto;
    background-image: url('https://tedbook.uz/wp-content/uploads/khdv-1.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0 0 0 0 !important;
    z-index: -2;
    @media (max-width:768px){
        height: 2000px;
    }
    @media (max-width:568px){
        height: 2400px;
    }
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        position:absolute;
        background-color: rgba(0, 0, 0, 0.61);
        top: 0;
        left: 0;
        z-index: -1;
    }
    p{
        color: #FFF;
        font-family: "Roboto",Sans-serif;
        font-size: 53px;
        font-weight: 900;
        text-align: center;
        z-index: 99999;
        @media (max-width:970px){
            font-size: 43px;
        }
        @media (max-width:570px){
            font-size: 33px;
        }
    }
    .kimlar_block{
        width: 90%;
        height: 250px;
        color: #FFF;
        font-family: "Roboto",Sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.5em;
        @media (max-width:768px){
            height: 700px;
        }
    }
}

.savollar{
    height: auto;
    background-color:rgba(247, 243, 243, 0.945);
    p{
        color: #212529;
        font-family: "Roboto",Sans-serif;
        font-size: 53px;
        font-weight: 900;
        text-align: center;
        margin-top: 15px;
        @media (max-width:478px){
            font-size: 33px;
        }
    }
    .chap{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        left: 5%;
        height: 220px;
        background-image: url('https://tedbook.uz/wp-content/uploads/vopros.png');
        background-repeat: no-repeat;
        background-size: contain;
        @media (max-width:1292px){
            justify-content: center;
            width: 80%;
        }
        @media (max-width:575px){
            width: 90% !important;
            height: 120px;
        }
        @media (max-width:475px){
            height: 100px;
            margin-top: 20px;
            padding: 0;
        }
        @media (max-width:275px){
            height: 60px;
            margin: 0;
            padding: 0;
        }
        p{
            margin-left: 40px;
            width: 70%;
            color: #212529;
            font-family: "Roboto",Sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-align: start;;
            @media (max-width:1198px){
                font-size: 18px;
                margin-top: -10px;
            }
            @media (max-width:1072px){
                font-size: 16px;
                margin-top: -10px;
            }
            @media (max-width:991px){
                font-size: 18px;
                margin-top: 0px;
            }
            @media (max-width:768px){
                width: 85%;
                font-size: 18px;
                margin-top: -20px;
            }
            @media (max-width:678px){
                width: 85%;
                font-size: 14px;
                margin-top: -70px;
            }
            @media (max-width:575px){
                width: 80%;
                font-size: 13px;
                margin-top: 20px;
                margin-left: -30px;
            }
            @media (max-width:538px){
                width: 85%;
                font-size: 12px;
                margin-top: 0px;
            }
            @media (max-width:478px){
                width: 75%;
                font-size: 11px;
                margin-top: 30px;
                margin-left: -20px;
            }
            @media (max-width:410px){
                width: 80%;
                font-size: 11px;
                margin-top: 10px;
                margin-left: 0;
            }
            @media (max-width:380px){
                width: 80%;
                font-size: 10px;
                margin-top: 10px;
            }
        }
    }
    // .child{
    //     height: 240px !important;
    // }
    .row{
        height: 180px;
        @media (max-width:675px){
            height: 160px;
            margin: 0;
            padding: 0;
        }
        @media (max-width:475px){
            height: 80px;
            margin: 0;
            padding: 0;
        }
        @media (max-width:275px){
            height: 40px;
            margin: 0;
            padding: 0;
        }
    }
    .text-center{
        @media (max-width:768px){
            margin: 5px !important;
            padding: 5px !important;
        }
    }
    .buyurtma_tugma_2{
        @media (max-width:768px){
            margin: 0;
            padding: 0;
        }
        @media (max-width:475px){
            margin: 50px;
            padding: 0;
        }
    }
    .h-auto{
        height: 220px !important;
        background-size: cover !important;
        @media (max-width:678px){
            height: 180px !important;
            padding-top: 50px;
        }
        @media (max-width:578px){
            height: 140px !important;
            padding-top: 10px;
            margin: 0 !important;
        }

    }
    .ong{    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 20px;
        position: relative;
        right: -38%;
        height: 180px;
        background-image: url('https://tedbook.uz/wp-content/uploads/otvet.png');
        background-repeat: no-repeat;
        background-size: contain;
        p{
            margin-left: 40px;
            width: 70%;
            color: #212529;
            font-family: "Roboto",Sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-align: end;
            @media (max-width:1198px){
                font-size: 18px;
                margin-top: -10px;
            }
            @media (max-width:1072px){
                font-size: 16px;
                margin-top: -10px;
            }
            @media (max-width:991px){
                font-size: 18px;
                margin-top: 0px;
            }
            @media (max-width:768px){
                width: 85%;
                font-size: 18px;
                margin-top: -20px;
            }
            @media (max-width:678px){
                width: 85%;
                font-size: 14px;
                margin-top: -70px;
            }
            @media (max-width:575px){
                width: 80%;
                font-size: 13px;
                margin-top: 20px;
                margin-left: 30px;
            }
            @media (max-width:538px){
                width: 85%;
                font-size: 12px;
                margin-top: 0px;
            }
            @media (max-width:478px){
                width: 75%;
                font-size: 11px;
                margin-top: 0px;
                margin-left:30px;
            }
            @media (max-width:410px){
                width: 80%;
                font-size: 11px;
                margin-top: 10px;
                margin-left: 30px;
            }
            @media (max-width:380px){
                width: 80%;
                font-size: 10px;
                margin-top: 10px;
            }
        }
        @media (max-width:1292px){
            width: 80%;
        }
        @media (max-width:991px){
            right: -5%;
        }
        @media (max-width:768px){
            right: -5%;
        }
        @media (max-width:575px){
            width: 90% !important;
            height: 120px;
        }
        @media (max-width:475px){
            height: 80px;
            margin-top:30px;
            padding: 0;
        }
        @media (max-width:275px){
            height: 40px;
            margin: 0;
            padding: 0;
        }
    }
}

















// .book{
//     height: 600px;
//     @include center;
//     img{
//         width: 500px;
//         height: 500px;
//         margin-left: -100px;
//         position: absolute;
//         @media (max-width:1280px){
//             margin-left: 100px;
//             margin-top: -100px;
//         }
//         @media (max-width:1100px){
//             width: 450px;
//             height: 450px;
//         }
//         @media (max-width:950px){
//             width: 300px;
//             height: 300px;
//             margin-left: -10px;
//             margin-top: -200px;
//         }
//     }
// }  

// .loremm{
//     @media (max-width:896px){
//         width: 896px !important;
//     }
// }
// .logo_header{
//     position: absolute;
//     right: 4%;
//     top: 1%;
//     img{
//         width: 200px;
//         height: 50px;
//     }
//     @media (max-width:1280px){
//         right: -1%;
//     }
//     @media (max-width:1100px){
//         right: 2%;
//         width: 180px;
//     }
//     @media (max-width:950px){
//         width: 140px;
//         right: 6%;
//     }
//     @media (max-width:896px){
        
//     }
// }
// .header_icon img{
//     width: 120px;
//     height: 120px;
//     margin-left: -80px;
//     margin-top: 140px;
//     z-index: 1;
//     @media  (max-width:1280px){
//         margin-left: -30px;
//     }
//     @media  (max-width:1100px){
//         width: 80px;
//         height: 80px;
//         margin-left: 0px;
//         margin-top: 100px;
//     }
//     @media  (max-width:896px){
//         margin-top: 60px;
//     }
// }
// .header_lorem{
//     width: 700px;
//     color: #FFF;
//     font-family: "Roboto",Sans-serif;
//     font-size: 40px ;
//     font-weight: 0;
//     text-transform: uppercase;
//     padding-left: 50px;
//     padding-top: 100px;
//     strong{
//         font-weight: 800;
//     }
//     @media  (max-width:1100px){
//         width: 600px;
//         font-size: 35px;
//     }
//     @media (max-width:950px){
//         width: 500px;
//         font-size: 30px;
//     }
// }
// .header_lor{
//     width: 700px;
//     color: #FFF;
//     font-family: "Roboto",Sans-serif;
//     font-size: 30px ;
//     font-weight: 300;
//     text-transform: uppercase;
//     padding-left: 50px;
//     padding-top: 80px;
//     @media (max-width:1270px){
//         width: 600px;
//     }
//     @media (max-width:1100px){
//         width: 500px;
//         font-size: 25px;
//         margin-top: -30px;
//     }
//     @media (max-width:950px){
//         width: 480px;
//     }
// }


























.section-title h1 {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    font-weight: 900;
    color: #212529;
    @media  (max-width:767px) {
        font-size: calc(24px + (46+46 *0.7) *((100vw - 320px)/1280));

    }
}
.section-title h2{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    @media (width:767px) {
        font-size: 15px;
    }
    @media (max-width:540px) {
        font-size: 25px;
    }
    @media (max-width:414px) {
        font-size: 18px;
    }
    @media (max-width:320px) {
        font-size: 13px;
    }
    @media (max-width:360px) {
        font-size: 18px;
    }
}
.span{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    width: 253px;
    // @media (width:768px) {
    //     font-size: 25px;
    //     width: 251px;
    // }
    @media (max-width:540px) {
        font-size: 25px;
    }
    @media (max-width:480px) {
        width: 110px;
    }
    @media (max-width:375px) {
        font-size: 17px;
        width: 100px;
    }
    @media (max-width:360px) {
        font-size: 18px;
        width: 100px;
        margin-left: 28px;
        position: relative;
        bottom: 15px;
    }
    @media (max-width:411px) {
        font-size: 18px;
        width: 181px;
    }
    @media (max-width:414px) {
        font-size: 18px;
        width: 181px;
    }
    @media (max-width:384px) {
        // font-size: 13px;
        width: 131px;
        // margin-top: 15px;
    }
    @media (max-width:320px) {
        font-size: 13px;
        width: 131px;
        margin-top: 15px;
    }
    @media (max-width:280px) {
        font-size: 13px;
        width: 110px;
        margin-top: 15px;
    }
    @media (max-width:240px) {
        font-size: 13px;
        width: 80px;
        // margin-top: 15px;
    }
}
.check{
    background-color: #FAD000;
    font-weight: 900;
    border-radius: 50%;
    fill: #000000;
    color: #000;
    font-size: 82px;
    width: 120px;
    height: 120px;
    align-items: center;
    text-align: center;
    justify-content: center;
    @media (max-width:767px) {
        font-size: calc(40px + (42+42 *0.7) *((100vw - 320px)/1280));
        width: 70px;
        height: 70px;
    }
}
.section_one p{
    font-size: 36px;
    color: #212529;
    font-weight: 500;
    @media  (max-width:767px) {
        font-size: calc(20px + (16+16 *0.7) *((100vw - 320px)/1280));
    }
}
.section_one_block {
    text-align: center;
}
.section_one_bottom{
    margin-top: 50px;
    margin-bottom: 150px;
}

     @media (max-width: 767px){

    //      width: 60px;
    //      height: 14px;
    //      background-color: green;
    //      color: red;
    //      font-weight: bold;
    //      font-size: large;
    //      background-color: blue;
    //  }
 }
.section_two_block h1{
    color: #212529;
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    @media  (max-width:767px) {
        font-size: calc(24px + (46+46 *0.7) *((100vw - 320px)/1280));
    }
}
.section_two_block h2 {
    font-size: 40px;
    @media  (max-width:767px) {
        font-size: calc(15px + (25+25 *0.7) *((100vw - 320px)/1280));
    }
}
// .section_two_block{
//     margin-bottom: 100px;
// }
.chegirma {
    color: #ffc107;
    font-weight: 900;
    font-size: 40px;
    @media  (max-width:767px) {
        font-size: calc(15px + (25+25 *0.7) *((100vw - 320px)/1280));
    }
}
.STEREO{
    color: #000;
    font-size: 40px;
    font-weight: 900;
    @media  (max-width:767px) {
        font-size: calc(15px + (25+25 *0.7) *((100vw - 320px)/1280));
    }
}
.QULOCHINGA{
    color: #000;
    font-size: 40px;
    font-weight: 900;
    @media  (max-width:767px) {
        font-size: calc(15px + (25+25 *0.7) *((100vw - 320px)/1280));
    }
}
.section_two img {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.tedbook_eng{
    position: relative;
    left: 140px;
}
.section_two_books{
    width: 1000px;
    height: 500px;
    margin-left: -150px;
    margin-top: -40px;  
    @media (max-width:500px){
        margin-top: 100px;
    }
}
.tedbook_eng {
    @media (max-width:1000px){
        width: 350px;
    }
    // @media (max-width:320px){
    //     // width: 150px;
    //     position: relative;
    //     top: 140px;
    //     left: 100px;
    // }
    // @media (max-width:768px){
    //     // width: 150px;
    //     position: relative;
    //     top: 136px;
    //     left: 150px;
    // }
    // @media (max-width:540px){
    //     // width: 150px;
    //     position: relative;
    //     top: 140px;
    //     left: 30px;
    // }
    @media (max-width:500px){
        width: 300px;
    }
    @media (max-width:400px){
        width: 250px;
    }
    // @media (max-width:280px){
    //     width: 150px;
    //     position: relative;
    //     top: 170px;
    //     left: 30px;
    // }
}
.tedbook_rus{
    @media (max-width:1000px){
        width: 250px;
    }
    // @media (max-width:320px){
    //     // width: 150px;
    //     position: relative;
    //     top:-47px;
    //     left: 10px;
    // }
    // @media (max-width:768px){
    //     // width: 150px;
    //     position: relative;
    //     top:-100px;
    //     left: 300px;
    // }
    // @media (max-width:540px){
    //     // width: 150px;
    //     position: relative;
    //     top:-100px;
    //     left: 200px;
    // }
    @media (max-width:500px){
        width: 200px;
    }
    // @media (max-width:280px){
    //     width: 150px;
    //     position: relative;
    //     top: 170px;
    //     left: -30px;
    // }
}
.section_two_books_block{
    // width: 1300px;
    background: url(../img/orbita-1.png) no-repeat;
    background-position: center;

    height: 900px;
    width: 100%;
    background-size: cover;
    // background-position:-280px 50px;
    margin-top: 20px;
    @include center;

    @media (max-width:1300px){
        width: 1300px;
    }
    @media (max-width:1200px){
        width: 1200px;
    }
    @media (max-width:1100px){
        width: 1100px;
    }
    @media (max-width:1000px){
        width: 1000px;
        height: 1000px;
        background-size: cover;
        background-position: -600px;
            
    }
    @media (max-width:900px){
        background-size: cover;
        width: 900px;
        height: 1000px;
    }
    @media (max-width:800px){
        width: 800px;
        height: 900px;
        background-position: -400px;
    }
    @media (max-width:700px){
        width: 700px;
        height: 700px;
        background-position: -300px;
    }
    @media (max-width:600px){
        width: 600px;
        height: 600px;
    }
    @media (max-width:500px){
        width: 500px;
    }
    @media (max-width:400px){
        width: 410px;
        background-size: cover;
    }
    @media (max-width:280px){
        width: 410px;
        background-size: cover;
    }

    height: 800px;
    width: 120%;
    background-size: cover;
    margin-top: 20px;
    margin-left: -20px;
    overflow: hidden;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}



.section_tree_audio{
    color: #212529;
    font-size: 43px;
    font-weight: 900;
    @media  (max-width:767px) {
        font-size: calc(15px + (28+28 *0.7) *((100vw - 320px)/1280));
    }
}
del ,.section_three_narx{
    color: #5D5D5D;
    font-size: 43px;
    font-weight: 500;
    @media  (max-width:767px) {
        font-size: calc(15px + (28+28 *0.7) *((100vw - 320px)/1280));
    }
}
.section_three h1{
    color: #212529;
    font-size: 62px;
    font-weight: 900;
    line-height: 1.5em;
    text-align: center;
    @media  (max-width:767px) {
        font-size: calc(20px + (42+42 *0.7) *((100vw - 320px)/1280));
    }
}
.section_three_chegirma{
    color: #31C407;
    font-size: 62px;
    font-weight: 500;
    line-height: 1.5em;
    @media  (max-width:767px) {
        font-size: calc(20px + (42+42 *0.7) *((100vw - 320px)/1280));
    }
}
.section_three_foyda{
    color: #212529;
    font-family: "Roboto",Sans-serif;
    font-size: 43px;
    font-weight: 900;
    line-height: 1.5em;
    @media  (max-width:767px) {
        font-size: calc(15px + (28+28 *0.7) *((100vw - 320px)/1280));
    }

}

// .section-time-group {
//     display: flex;
//     margin-left: 50px;
// }

.section_time_shoshiling{
    color: #212529;
    font-family: "Roboto",Sans-serif;
    font-size: 53px;
    font-weight: 900;
    line-height: .6em;
    @media  (max-width:767px) {
        font-size: calc(17px + (36+36 *0.7) *((100vw - 320px)/1280));
    }
}
.section_time_chegirma{
    color: #5D5D5D;
    font-family: "Roboto",Sans-serif;
    font-size: 43px;
    font-weight: 500;
    line-height: 1.5em;
    @media  (max-width:767px) {
        font-size: calc(15px + (28+28 *0.7) *((100vw - 320px)/1280));
    }
}
.section_times h1{
    color: #212529;
    font-family: "Roboto",Sans-serif;
    font-size: 80px;
    font-weight: 500;
    @media  (max-width:767px) {
        font-size: calc(25px + (55+55 *0.7) *((100vw - 320px)/1280));
    }
}
.section_times span{
    color: #212529;
    font-family: "Roboto",Sans-serif;
    font-size: 19px;
    text-transform: uppercase;
    @media  (max-width:767px) {
        font-size: calc(10px + (9+9 *0.7) *((100vw - 320px)/1280));
    }
}
.section_time {
    border: 2px solid #BFBFBF;
    border-radius: 30px;
}

input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked + label::before {
    transform: scale(1) rotateZ(0deg);
  }
  
.form_rus_label ,.checkbox_ing_label{
    color: #212529;
    cursor: pointer;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 25px;
    @media  (max-width:767px) {
        font-size: calc(17px + (13+13 *0.7) *((100vw - 320px)/1280));
        }
}



.form_rus_label::before {
    content: "";
    background: url("../img/check-circle.svg");
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    left: 260px;
    top: -34px;

    position: absolute;

  
    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
    // @media  (max-width:767px) {
    //     width: calc(25px + (15+15 *0.7) *((100vw - 320px)/1280));
    //     height: calc(25px + (15+15 *0.7) *((100vw - 320px)/1280));
    // }

    @media (max-width:1024px){
        left: 210px;
        top: -34px;
    }
    @media (max-width:800px){
        left: 155px;
        top: -34px;
    }
    @media (max-width:768px){
        left: 150px;
        top: -34px;
    }
    @media (max-width:640px){
        left: 110px;
        top: -34px;
    }
    @media (max-width:600px){
        left: 110px;
        top: -34px;
    }
    @media (max-width:540px){
        left: 110px;
        top: -34px;
    }
    @media (max-width:480px){
        left: 85px;
        top: -34px;
    }
    @media (max-width:414px){
        left: 70px;
        top: -34px;
    }
    @media (max-width:411px){
        left: 65px;
        top: -34px;
    }
    @media (max-width:360px){
        left: 65px;
        top: -34px;
    }
    @media (max-width:320px){
        left: 65px;
        top: -34px;
    }
    @media  (max-width:250px){
        top: -34px;
        left: 35px;
    }
  }
  .form_rus_label::after {
    content: "";
    border: 4px solid #3ECC14;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    top: -34px;
    left: 260px;
    // @media  (max-width:767px) {
    //     width: calc(25px + (15+15 *0.7) *((100vw - 320px)/1280));
    //     height: calc(25px + (15+15 *0.7) *((100vw - 320px)/1280));
    // }
    @media (max-width:1024px){
        left: 210px;
        top: -34px;
    }
    @media (max-width:800px){
        left: 155px;
        top: -34px;
    }
    @media (max-width:768px){
        left: 150px;
        top: -34px;
    }
    @media (max-width:640px){
        left: 110px;
        top: -34px;
    }
    @media (max-width:600px){
        left: 110px;
        top: -34px;
    }
    @media (max-width:540px){
        left: 110px;
        top: -34px;
    }
    @media (max-width:480px){
        left: 85px;
        top: -34px;
    }
    @media (max-width:414px){
        left: 70px;
        top: -34px;
    }
    @media (max-width:411px){
        left: 65px;
        top: -34px;
    }
    @media (max-width:360px){
        left: 65px;
        top: -34px;
    }
    @media  (max-width:320px){
        top: -34px;
        left: 65px;
    }
    @media  (max-width:250px){
        top: -34px;
        left: 35px;
    }
  }
  .checkbox_ing_label::before {
    content: "";
    background: url("../img/check-circle.svg");
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    left: 250px;
    top: -34px;

    position: absolute;

  
    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
    // @media  (max-width:767px) {
    //     width: calc(25px + (15+15 *0.7) *((100vw - 320px)/1280));
    //     height: calc(25px + (15+15 *0.7) *((100vw - 320px)/1280));
    // }
    @media (max-width:1024px){
        left: 200px;
        top: -34px;
    }
    @media (max-width:800px){
        left: 155px;
        top: -34px;
    }
    @media (max-width:768px){
        left: 155px;
        top: -34px;
    }
    @media (max-width:640px){
        left: 100px;
        top: -34px;
    }
    @media (max-width:600px){
        left: 100px;
        top: -34px;
    }
    @media (max-width:540px){
        left: 100px;
        top: -34px;
    }
    @media (max-width:480px){
        left: 85px;
        top: -34px;
    }
    @media (max-width:414px){
        left: 65px;
        top: -34px;
    }
    @media (max-width:411px){
        left: 65px;
        top: -34px;
    }
    @media (max-width:360px){
        left: 60px;
        top: -34px;
    }
    @media (max-width:320px){
        left: 50px;
        top: -34px;
    }
    @media  (max-width:250px){
        top: -34px;
        left: 20px;
    }
  }
  .checkbox_ing_label::after {
    content: "";
    border: 4px solid #3ECC14;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    top: -34px;
    left: 250px;
    // @media  (max-width:767px) {
    //     width: calc(25px + (15+15 *0.7) *((100vw - 320px)/1280));
    //     height: calc(25px + (15+15 *0.7) *((100vw - 320px)/1280));
    // }
    @media (max-width:1024px){
        left: 200px;
        top: -34px;
    }
    @media (max-width:800px){
        left: 155px;
        top: -34px;
    }
    @media (max-width:768px){
        left: 155px;
        top: -34px;
    }
    @media (max-width:640px){
        left: 100px;
        top: -34px;
    }
    @media (max-width:600px){
        left: 100px;
        top: -34px;
    }
    @media (max-width:540px){
        left: 100px;
        top: -34px;
    }
    @media (max-width:480px){
        left: 85px;
        top: -34px;
    }
    @media (max-width:414px){
        left: 65px;
        top: -34px;
    }
    @media (max-width:411px){
        left: 65px;
        top: -34px;
    }
    @media  (max-width:360px){
        top: -34px;
        left: 60px;
    }
    @media  (max-width:320px){
        top: -34px;
        left: 50px;
    }
    @media  (max-width:250px){
        top: -34px;
        left: 20px;
    }
  }
.section_form_labels{
    border-radius: 30px;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.2);
}

.placeholder_name , .placeholder_name{
    font-family: "Roboto",Sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #212529;
    width: 700px;
    border-top: none;
    border-left:  none;
    border-right:  none;
    margin-top: 50px;
    outline: none;
     @media  (max-width:767px) {
        width: calc(250px + (250+250 *0.7) *((100vw - 320px)/1280));
    }
     @media  (max-width:240px) {
        width: 180px;
    }
}




.buyurtma_tugma{
    border: none;
    text-transform: uppercase;
    font-size: 37px;
    font-weight: 500;
    line-height: 1.6em;
    color: #fff;
    background-color: #3ECC14;
    border-radius: 30px;
    width: 700px;
    height: 70px;
    margin-top: 100px;
    margin-bottom: 50px;
    @media  (max-width:991px) {
        width: 600px;
    }
    @media  (max-width:767px) {
        width: calc(250px + (250+250 *0.7) *((100vw - 320px)/1280));
        font-size: calc(25px + (12+12 *0.7) *((100vw - 320px)/1280));
    }
    @media  (max-width:240px) {
        width: 200px;
    }
}

.buyurtma_tugma_2{
    border: none;
    text-transform: uppercase;
    font-size: 37px;
    font-weight: 500;
    line-height: 1.6em;
    color: #fff;
    background-color: #3ECC14;
    border-radius: 30px;
    width: 400px;
    height: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    @media  (max-width:767px) {
        width: calc(250px + (250+250 *0.7) *((100vw - 320px)/1280));
        font-size: calc(25px + (12+12 *0.7) *((100vw - 320px)/1280));
    }
    @media  (max-width:240px) {
        width: 200px;
    }
}
.buyurtma_tugma_3{
    border: none;
    text-transform: uppercase;
    font-size: 37px;
    font-weight: 500;
    line-height: 1.6em;
    color: #fff;
    background-color: #3ECC14;
    border-radius: 50px;
    width: 350px;
    height: 70px;
    // margin-bottom: 150px;
    position: relative;
    @media  (max-width:767px) {
        width: calc(200px + (250+250 *0.7) *((100vw - 320px)/1280));
        font-size: calc(20px + (17+17 *0.7) *((100vw - 320px)/1280));
    }
    @media  (max-width:1024px) {
        position: relative;
        top: 70px;
    }
    @media  (max-width:800px) {
        position: relative;
        top: 150px;
    }
    @media  (max-width:768px) {
        position: relative;
        top: 120px;
    }
    @media only screen and   (max-width:600px) {
        position: relative;
        top: 150px;
    }
    // @media  (max-width:640px) {
    //     position: relative;
    //     top: 920px;
    // }
    @media  (max-width:540px) {
        position: relative;
        top: 125px;
    }
    @media  (max-width:480px) {
        position: relative;
        top: 150px;
    }
    @media  (max-width:412px) {
        position: relative;
        top: 170px;
    }
    @media  (max-width:384px) {
        position: relative;
        top: 120px;
    }
    @media  (max-width:360px) {
        position: relative;
        top: 100px;
    }
    @media  (max-width:320px) {
        position: relative;
        top: 150px;
    }
    @media  (max-width:321px) {
        position: relative;
        top: 150px;
    }
    @media  (max-width:322px) {
        position: relative;
        top: 150px;
    }
    @media  (max-width:323px) {
        position: relative;
        top: 150px;
    }
    @media  (max-width:324px) {
        position: relative;
        top: 150px;
    }
    @media  (max-width:325px) {
        position: relative;
        top: 150px;
    }
    @media  (max-width:326px) {
        position: relative;
        top: 150px;
    }
    @media  (max-width:300px) {
        position: relative;
        top: 70px;
        position: relative;
        top: 150px;
 
    }
    @media  (max-width:360px) {
        position: relative;
        top: 70px;
        position: relative;
        top: 150px;
 
    }
    @media  (max-width:280px) {
        position: relative;
        top: 170px;
    }
    @media  (max-width:240px) {
        position: relative;
        top: 110px;
        width: 150px;
        height: 25px;
        font-size: 15px;
    }
    @media  (max-width:241px) {
        position: relative;
        top: 110px;
        width: 150px;
        height: 25px;
        font-size: 15px;
    }
}

.section_form_labels_block{
    margin-top: 150px;
}


.buyurtma_tugma:hover{
    color: #000;
    transition: all 0.5s;
}

.buyurtma_tugma_2:hover{
    color: #000;
    transition: all 0.5s;
}
.buyurtma_tugma_3:hover{
    color: #000;
    transition: all 0.5s;
}

.section_seven_group h1{
    color: #212529;
    font-size: 53px;
    font-weight: 900;
    line-height: 1.5em;
    @media  (max-width:767px) {
        font-size: calc(25px + (28+28 *0.7) *((100vw - 320px)/1280));
    }
}
.section_seven_group h3{
    color: #212529;
    font-size: 23px;
    font-weight: 900;
    line-height: 1.5em;
    margin-top:35px;
    @media  (max-width:767px) {
        font-size: calc(13px + (10+10 *0.7) *((100vw - 320px)/1280));
        text-align: left;
        margin-left: 50px;
        // margin-top: 50px;
    }
    @media  (max-width:240px) {
        // font-size: calc(13px + (10+10 *0.7) *((100vw - 320px)/1280));
        font-size: 12px;
        text-align: left;
        margin-left:30px;
        // margin-top: 50px;
    }

}
.section_seven_group p{
    color: #212529;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5em;
    margin-top: 25px;
    @media  (max-width:767px) {
        font-size: calc(10px + (10+8 *0.7) *((100vw - 320px)/1280));
        text-align: left;
        margin-left: 50px;
        // margin-top: 100px;
    }
    @media  (max-width:540px) {
        text-align: left;
        margin-left: 50px;
        // margin-top: 100px;
    }
    @media  (max-width:240px){
        margin-left:30px;
    }
}
.block_1_img,
 .block_2_img,
 .block_3_img,
 .block_4_img {
    @media  (max-width:767px) {
        // width: calc(70px + (28+28 *0.7) *((100vw - 320px)/1280));
        // width: 40%;
        // text-align: left;
        margin-top: 50px;
    }
}
.block_5_img,
.block_6_img,
.block_7_img{
    margin-top: 50px;
}
.section_seven_group_blocks{
    @media  (max-width:767px) {
        // width: calc(70px + (28+28 *0.7) *((100vw - 320px)/1280));
        display: flex;
        justify-content: center;
    }
}
.block_5{
    @media  (max-width:767px){
        margin-right: 170px;
    }
    @media  (max-width:540px){
        margin-right: 200px;
    }
    @media  (max-width:480px){
        margin-right: 150px;
    }
    @media  (max-width:414px){
        margin-right: 80px;
    }
    @media  (max-width:375px){
        margin-right: 50px;
    }
    @media  (max-width:360px){
        margin-right: 40px;
    }
    @media  (max-width:320px){
        margin-right: 0px;
    }
    @media  (max-width:280px){
        margin-right: -30px;
    }
    @media  (max-width:240px){
        margin-right: 0px;
    }
}
.block_6{
    @media  (max-width:767px){
        margin-right: 170px;
    }
    @media  (max-width:540px){
        margin-right: 200px;
    }
    @media  (max-width:480px){
        margin-right: 150px;
    }
    @media  (max-width:414px){
        margin-right: 80px;
    }
    @media  (max-width:375px){
        margin-right: 50px;
    }
    @media  (max-width:360px){
        margin-right: 40px;
    }
    @media  (max-width:320px){
        margin-right: 0px;
    }
    @media  (max-width:280px){
        margin-right: -10px;
    }
    @media  (max-width:240px){
        margin-right: 0px;
    }
}
.block_7{
    @media  (max-width:767px){
        margin-right: 100px;
    }
    @media  (max-width:540px){
        margin-right: 170px;
    }
    @media  (max-width:480px){
        margin-right: 110px;
    }
    @media  (max-width:414px){
        margin-right: 40px;
    }
    @media  (max-width:375px){
        margin-right: 50px;
    }
    @media  (max-width:360px){
        margin-right: 0px;
    }
    @media  (max-width:320px){
        margin-right: 0px;
    }
    @media  (max-width:280px){
        margin-right: 0px;
    }
    @media  (max-width:240px){
        margin-right: 0px;
    }
}

.section_bg{
    background: url(../img/satiq_top.png) no-repeat center / cover;
    height: 60vh;
    h1{
        color: #212529;
        font-family: "Roboto",Sans-serif;
        font-size: 53px;
        font-weight: 900;
        padding-top: 50px;
    }
    h3{
        color: #212529;
        font-family: "Roboto",Sans-serif;
        font-size: 43px;
        font-weight: 500;
    }
    @media (max-width: 767px){
        height: 50vh;
        h1{
            font-size: calc(25px + (28+28 *0.7) *((100vw - 320px)/1280));
        }
        h3{
            font-size: calc(18px + (15+15 *0.7) *((100vw - 320px)/1280));
        }
        p{
     color: #212529;
    font-family: "Roboto",Sans-serif;
    font-size: 29px;
    font-weight: 500;
    line-height: 1.5em
        }
    }

    @media(max-width:1024px){
        height: 25vh;
    }
    @media(max-width:800px){
        height: 35vh;
    }
    @media(max-width:768px){
        height: 40vh;
    }
    @media(max-width:600px){
        height: 25vh;
    }
    @media(max-width:540px){
        height: 25vh;
    }
    @media(max-width:412px){
        height: 30vh;
    }
    @media(max-width:375px){
        height: 33vh;
    }
    @media(max-width:360px){
        height: 40vh;
    }
    @media(max-width:320px){
        height: 47vh;
    }
    @media (max-width: 280px){
        height: 25vh;
        h1{
            padding-top: 30px;
            font-size: 18px;
        }
        h3{
            font-size: 13px;
        }
     }
     @media(max-width:240px){
        height: 50vh;
    }
}
.section_8 p{
        color: #212529;
       font-family: "Roboto",Sans-serif;
       font-size: 29px;
       font-weight: 500;
       line-height: 1.5em;
       @media  (max-width:767px) {
        font-size: calc(14px + (15+15 *0.7) *((100vw - 320px)/1280));
    }

}
.section_8_circle2 p {
    // position: relative;
    // right: 100px;
    margin-right: 250px;

    @media(max-width: 800px){
        margin-right: 100px;
    }
    @media(max-width: 600px){
        margin-right: 140px;
    }

    @media(max-width: 280px){
        margin-right: 10px;
    }
    @media(max-width: 540px){
        margin-right: 140px;
    }
    @media(max-width: 412px){
        margin-right: 50px;
    }
    @media(max-width: 411px){
        margin-right: 100px;
    }
    @media(max-width: 320px){
        margin-right: 0px;
    }
}
.section_8_circle4 p{
    margin-right: 15px;

    @media(max-width: 800px){
        margin-right: 0px;
    }
    @media(max-width: 540px){
        margin-right: 0px;
    }
    @media(max-width: 411px){
        margin-right: 0px;
    }
    @media(max-width: 320px){
        margin-right: 0px;
    }
}
.section_8_circle5 p{
    margin-right: 275px;

    @media(max-width: 800px){
        margin-right: 130px;
    }
    @media(max-width: 600px){
        margin-right: 155px;
    }
    @media(max-width: 280px){
        margin-right: 10px;
    }
    @media(max-width: 540px){
        margin-right: 150px;
    }
    @media(max-width: 412px){
        margin-right: 70px;
    }
    @media(max-width: 411px){
        margin-right: 70px;
    }
    @media(max-width: 320px){
        margin-right: 0px;
    }
}
.section_8_circle3 p{
    margin-right: 45px;
    @media(max-width: 800px){
        margin-right: 0px;
    }
    @media(max-width: 600px){
        margin-right: 23px;
    }
    @media(max-width: 540px){
        margin-right: 20px;
    }
    @media(max-width: 412px){
        margin-right: 0px;
    }
    @media(max-width: 412px){
        margin-right: 0px;
    }
    @media(max-width: 411px){
        margin-right: 0px;
    }
    @media(max-width: 320px){
        margin-right: 0px;
    }
    
}

.section_block_3 h1{
    color: #212529;
    font-family: "Roboto",Sans-serif;
    font-size: 53px;
    font-weight: 900;
    line-height: 1.2em;
    @media  (max-width:767px) {
        font-size: calc(20px + (33+33 *0.7) *((100vw - 320px)/1280));
    }
    @media  (max-width:320px) {
        font-size: 10px;
    }
}

.section_block_3 span{
    color: #212529;
    font-family: "Roboto",Sans-serif;
    font-size: 20px;
    font-weight: 500;
    @media  (max-width:767px) {
        font-size: calc(13px + (7+7 *0.7) *((100vw - 320px)/1280));
    }
    @media  (max-width:320px) {
        font-size: 10px;
    }
}
.section_block_3 img{
    width: 183px;
    @media  (max-width:767px) {
        font-size: calc(100px + (83+83 *0.7) *((100vw - 320px)/1280));
    }
    @media(width: 240px){
        width: 100px;
    }
}




.section_video h2{
    color: #212529;
    font-family: "Roboto",Sans-serif;
    font-size: 53px;
    font-weight: 900;
}